.nav1 {
    width: 100%;
    height: 50px;
    color: white;
    background-color: dimgrey;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav1 i {
    margin: 5px;
}

.nav1 a {
    color: white;
    background-color: dodgerblue;
    padding: 5px 10px;
    text-decoration: none;
}

.nav2 {
    height: 70px;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu a {
    padding: 1px 4px;
    text-decoration: none;
    color: black;
}

header {
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.384),rgba(0, 0, 0, 0.384)), url('https://images.wallpaperscraft.com/image/single/gym_dumbbells_inventory_219519_1920x1080.jpg');
    background-size: 100% 100%;
}

.h-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.h-text h1 {
    font-size: 3em;
}

.h-text p {
    font-size: 20px;
}

.h-text a {
    text-decoration: none;
    color: white;
    background-color: darkorange;
    padding: 10px 20px;
    margin: 0px 15px;
    letter-spacing: 5px;
}

.h-text span {
    color: lightsalmon;
}